.booking {
    padding: 0rem; padding-top: 3rem; /*  was 4rem, too much padding */
    background: #fff;
  }
  
  h1 {
    text-align: center;
  }
  
  .booking__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
  }
  
  .booking__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }


/* Style inputs, select elements and textareas */
input[type=date], input[type=text], input[type=email], select, textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
}  

/* Style the label to display next to the inputs */
label {
  padding: 10px 10px 10px 0;
  display: inline-block;
}
/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input, select, textarea {
  font-size: 90%;
  }

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


